@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: rgb(81, 0, 128);
    height: 100vh;
    width: 100vw;
}

#body-background-image {
    animation: body-background-image 2.5s ease-out;
    background-image: url(./assets/images/background-image.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    width: 100vw;
}

@keyframes body-background-image {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* HEADER */

header {
    background: linear-gradient(
        180deg,
        #450079 0%,
        rgba(69, 0, 121, 0.1) 84.48%,
        rgba(69, 0, 121, 0) 100%
    );
    display: flex;
    height: 70px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#header-icon {
    margin: 20px 0 0 25px;
    height: 30px;
    width: 43px;
}

#header-right {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 90px;
    top: 15px;
}

#header-right > .item {
    align-items: center;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Karla", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 0 0 10px 0;
    transition: 200ms;
    /* width: 200px; */
}

#header-right > .item:not(.last-item) {
    /* border-right: 2px solid #520F85; */
}

.item-text {
    border-radius: 10px;
    cursor: default;
    padding: 5px 10px;
    width: min-content;
}

.item:hover > .item-text {
    background-color: rgba(255, 255, 255, 0.319);
}

#header-right > .divisor {
    background-color: #320351;
    height: 30px;
    width: 1px;
}

.item-popup {
    align-items: center;
    background-color: #e5c1ff;
    border-radius: 10px;
    box-shadow: -4.31579px 4.31579px 4.31579px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    display: none;
    flex-direction: column;
    padding: 10px 0 10px 0;
    position: absolute;
    top: 45px;
    transition: 300ms;
    width: 250px;
}

.item:hover > .item-popup {
    display: flex;
}

.item:hover > .item-popup {
    animation: item-popup 500ms;
    display: flex;
}

@keyframes item-popup {
    0% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup-item {
    align-items: center;
    color: #762caf;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 10px;
    height: min-content;
    padding: 10px;
    transition: 200ms;
    width: 213px;
}

.popup-item:hover {
    background-color: #762caf27;
    border-radius: 5px;
}

.popup-icon {
    height: 20px;
}

.popup-text {
    cursor: pointer;
}

.item-popup > .divisor {
    background-color: #762caf63;
    height: 0.1rem;
    width: 90%;
}

.botao-ver-mais-container {
    display: flex;
    justify-content: end;
    width: 230px;
}

.botao-ver-mais {
    background-color: #7e2ab6;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin: 10px 0 0 0;
    padding: 8px 20px;
    transition: 200ms;
    width: min-content;
}

.botao-ver-mais:hover {
    background-color: #450079;
}

.botao-ver-mais-icon {
    height: 20px;
}

.botao-ver-mais-text {
    font-size: 0.9rem;
    font-weight: 700;
    width: max-content;
}

@media (max-width: 600px) {
    #header-right > .item,
    #header-right > .divisor {
        display: none;
    }
}

/* CORPO DA PÃGINA */

#container {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#circle-container {
    align-items: center;
    /* animation: circle-container 1.5s ease-in; */
    background: linear-gradient(
        90deg,
        #762caf 0%,
        rgba(118, 44, 175, 0.14) 81.76%,
        rgba(217, 217, 217, 0) 100%
    ); /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 0 0 0px;
    outline: 0;
    position: absolute;
    /* transition: 200ms ease-out; */
    width: 600px;
}

/* @keyframes circle-container {
    0% {
        margin-left: -100px;
    } 100% {
        margin-left: 0px;
    }
} */

#main-logo {
    animation: main-logo 1.5s ease-out;
    width: 180px;
}

@keyframes main-logo {
    0% {
        width: 10px;
    }
    30% {
        width: 250px;
    }
    50% {
        width: 180px;
    }
}

#title {
    animation: title 2s ease-out;
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 97.006%; /* 74.797px */
    letter-spacing: 7.711px;
    margin: 25px 0 0 0;
}

@keyframes title {
    0% {
        font-size: 0;
        opacity: 0;
    }
    50% {
        font-size: 3.5rem;
        opacity: 0;
    }
    100% {
    }
}

#circle-container > #subtitle {
    animation: subtitle 2s ease-out;
    color: white;
    font-family: "Karla", sans-serif;
    text-align: center;
    color: #320351;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.006%; /* 25.222px */
    letter-spacing: 2.6px;
    margin: 20px 0 0 0;
}

@keyframes subtitle {
    0% {
        font-size: 0;
        opacity: 0;
    }
    60% {
        font-size: 20px;
        opacity: 0;
    }
    100% {
    }
}

#circle-container > #prosseguir-button {
    align-items: center;
    animation: prosseguir-button 2s ease-out;
    background-color: #ffffff;
    border: 0;
    border-radius: 50px;
    color: #7e459a;
    cursor: pointer;
    display: flex;
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
    gap: 10px;
    height: 40px;
    margin: 20px 0 20px 0;
    padding: 0 40px;
    transition: 200ms ease-out;
}

@keyframes prosseguir-button {
    0% {
        font-size: 0;
        opacity: 0;
    }
    70% {
        font-size: 1.2rem;
        opacity: 0;
    }
}

#circle-container > #prosseguir-button:hover {
    background-color: rgb(83, 0, 83);
    color: white;
}

#circle-container > #prosseguir-button:active {
    background-color: black;
}

#prosseguir-button > #arrows {
    margin: 5px 0 0 0;
}

#arrows > .arrow {
    transition: 300ms ease-out;
}

#arrows > .arrow:not(.first) {
    margin-left: -6px;
}

#prosseguir-button:hover > #arrows > .arrow:not(.last) {
    margin-right: 6px;
}

#circle-container > #icon-info {
    animation: icon-info 2s ease-out;
    transition: 200ms;
    width: 35px;
}

@keyframes icon-info {
    0% {
        opacity: 0;
        width: 0;
    }
    80% {
        opacity: 0;
        width: 35px;
    }
    100% {
        opacity: 1;
    }
}

#circle-container > #icon-info:hover {
    /* background-color: white; */
    cursor: pointer;
    filter: brightness(0.3);
}

#menu-mobile

@media (max-width: 600px) {
    #body-background-image {
        background-position: 600px;
    }

    #hamburguer {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #hamburguer > .line {
        background-color: white;
        height: 0.1rem;
        width: 30px;
    }

    #menu-mobile {
        animation: menuMobile 500ms ease-out;
        background-color: #390065;
        color: #fff;
        display: flex;
        font-family: "Karla", sans-serif;
        font-size: 1.5rem;
        height: 100vh;
        padding: 60px 0;
        position: absolute;
        right: 0;
        transition: 300ms ease-out;
        top: 0;
        width: 0;
        z-index: 1;
    }

    #hamburguer:hover {
        filter: invert(0.2);
    }

    #hamburguer.close {
        transform: translateX(5px);
    }

    #hamburguer > .line {
        transition: 200ms ease-out;
    }

    #hamburguer > #line-1.close {
        transform: rotate(45deg) translateY(13px);
    }

    #hamburguer > #line-2.close {
        width: 0;
    }

    #hamburguer > #line-3.close {
        transform: rotate(-45deg) translateY(-13px);
    }

    .menu-item {
        align-items: center;
        border-radius: 20px;
        display: flex;
        height: min-content;
        margin: 0 0 0 15px;
        padding: 5px 15px;
        position: relative;
    }

    .menu-item:hover {
        background-color: #fff4;
    }

    #triangle {
        align-items: center;
        display: flex;
        position: absolute;
        height: 20px;
        position: relative;
        width: 20px;
        transform: rotate();
    }

    #triangle > #line-1 {
        background-color: white;
        border-radius: 2px;
        height: 2px;
        left: 9px;
        justify-content: center;
        transform: rotate(90deg);
        width: 12px;
    }

    #triangle > #line-2 {
        background-color: white;
        border-radius: 2px;
        height: 2px;
        position: absolute;
        top: 0px;
        transform: rotate(45deg);
        width: 10px;
    }

    #triangle > #line-3 {
        background-color: white;
        border-radius: 2px;
        height: 2px;
        position: absolute;
        transform: rotate(-45deg);
        width: 9.5px;
    }

    #circle-container {
        width: 100vw;
    }
}
