@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-1: #1f242b;
    --color-1-transparent: #1f242b00;
    --color-2: #85298a;
    --font-family-1: "Montserrat", sans-serif;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
}

body {
    background-color: var(--color-1);
}

header {
    align-items: center;
    /* background: linear-gradient(
        90deg,
        #1f242b 0%,
        #1f242b 10%,
        #1f242b00 30%,
        #1f242b00 70%,
        #1f242b 90%,
        #1f242b 100%
    ); */
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

header > #logo {
    margin: 0 0 0 40px;
    width: 80px;
}

header > #hamburguer {
    align-items: end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 40px 0 0;
}

header > #hamburguer > .bar {
    background-color: #ffffffdd;
    border-radius: 3px;
    height: 4px;
    width: 35px;
}

header > #hamburguer > .bar:not(#bar-2) {
    width: 25px;
}

.page-section {
    background-color: var(--color-1);
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#section-1 {
    border-bottom: 2px solid purple;
    box-shadow: 0px 5px 30px rgba(210, 74, 255, 0.2);
    /* margin: 0 0 200px 0; */
}

#section-1 > .container#left {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 40vw;
}

#section-1 > .container#left > .content {
    height: 250px;
    width: 80%;
}

#section-1 > .container#left > .content > h1 {
    color: white;
    font-family: var(--font-family-1);
    font-weight: 400;
    letter-spacing: 4px;
}

#section-1 > .container#left > .content > h2 {
    color: #ffffffbb;
    font-family: var(--font-family-1);
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
}

#section-1 > .container#left > .content > h2 > Destaque {
    color: rgb(174, 73, 174);
    font-family: var(--font-family-1);
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
}

#section-1 > .container#left > .content > .rating {
    display: flex;
    gap: 20px;
    height: 40px;
    margin: 20px 0 0 0;
}

#section-1 > .container#left > .content > .rating > .left {
    align-items: center;
    border-right: 3px solid var(--color-2);
    display: flex;
    gap: 10px;
    width: min-content;
    padding: 0 20px 0 0;
}

#section-1 > .container#left > .content > .rating > .left > p {
    color: var(--color-2);
    cursor: default;
    font-family: var(--font-family-1);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#section-1 > .container#left > .content > .rating > .right > img {
    width: 40px;
}

#section-1
    > .container#left
    > .content
    > .rating
    > .right
    > img:not(#client-1) {
    margin: 0 0 0 -10px;
}

#section-1 > .container#right {
    overflow: hidden;
    position: relative;
    width: 60vw;
}

#section-1 > .container#right > .content {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    transform: rotate(-20deg) translate(150px, -80px) scale(0.8);
}

#section-1 > .container#right > .content > #img-1 {
    grid-row: 1/5;
}

#section-1 > .container#right > .bg-gradient {
    background: radial-gradient(var(--color-1-transparent), var(--color-1) 70%);
    height: 60vw;
    position: absolute;
    width: 100%;
    top: 0;
}

#section-1 > .scroll-icon {
    align-items: end;
    align-self: end;
    border: 3px solid var(--color-2);
    border-radius: 25px;
    box-shadow: 0 0 50px 0px rgba(166, 58, 255, 0.3),
        0 0 10px 0 inset rgba(166, 58, 255, 0.3);
    display: flex;
    height: 67px;
    justify-content: center;
    margin: 0 0 40px calc(50vw - 20px);
    position: absolute;
    transition: 400ms ease-out;
    width: 35px;
}

#section-1 > .scroll-icon:hover {
    box-shadow: 0 0 10px 0px rgba(166, 58, 255, 0.3),
        0 0 5px 0 inset rgba(166, 58, 255, 0.3);
}

#section-1 > .scroll-icon > img {
    animation: scroll-icon 2s infinite;
    margin: 0 0 10px 0;
    transition: 400ms ease-out;
    width: 20px;
}

#section-1 > .scroll-icon:hover > img {
    filter: drop-shadow(0 0 2px rgba(166, 58, 255, 0.3));
}

@keyframes scroll-icon {
    0% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 10px;
    }

    #section-1 > .container#right > .bg-gradient {
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 10px;
    }

    #section-1 > .container#right > .content {
        transform: rotate(-20deg) translate(100px, -120px) scale(0.7);
    }

    #section-1 > .container#right > .bg-gradient {
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 900px) {
    #section-1 {
        align-items: center;
        justify-content: end;
        flex-direction: column;
    }

    #section-1 > .container#left {
        order: 2;
        width: 100vw;
    }

    #section-1 > .container#left > .content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #section-1 > .container#left > .content > h2 {
        text-align: center;
    }

    #section-1 > .container#right {
        margin: 0 0 0 calc(50vw - 35vw);
        width: 70vw;
    }

    #section-1 > .container#right > .content {
        width: 100%;
    }

    #section-1 > .container#right > .bg-gradient {
        height: 100%;
        width: 100%;
    }

    #section-1 > .scroll-icon {
        align-self: inherit;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 500px) {

    header{
        height: 60px;
    }

    header>#logo{
        margin: 0 0 0 20px;
        width: 50px;
    }

    header>#hamburguer{
        gap: 6px;
        margin: 0 20px 0 0;
    }

    header>#hamburguer>.bar{
        height: 1px;
        width: 25px;
    }

    header>#hamburguer>.bar:not(#bar-2){
        width: 17px;
    }
    
    #section-1 > .container#left {
        position: absolute;
        z-index: 2;
    }

    #section-1 > .container#left > .content {
        background-color: rgb(31, 36, 43, 0.9);
        border-radius: 20px;
        padding: 20px 20px;
        width: 80%;
    }

    #section-1 > .container#left > .content > h2 {
        width: 90%;
    }

    #section-1>.container#left>.content>.rating{
        gap: 10px;
        margin: 50px 0 0 0;
    }

    #section-1>.container#left>.content>.rating>.left{
        border-right: 1px solid var(--color-2);
        padding: 0 10px 0 0;
    }

    #section-1 > .container#right {
        margin: 0;
        width: 100vw;
    }

    #section-1 > .container#right > .content {
        transform: rotate(-20deg) translate(-20px, -120px) scale(0.7);
    }

    #section-1 > .container#right > .bg-gradient {
        background: radial-gradient(
            var(--color-1-transparent),
            var(--color-1) 60%
        );
        margin: 0 0 0 -25vh;
        width: 100vh;
        /* background: none; */
    }

    #section-1 > .scroll-icon {
        margin: 0 0 100px 0;
        z-index: 3;
    }
}

/* SECTION 2 */

#section-2 {
    background-color: transparent;
    overflow: hidden;
    margin: 150px 0 0 0;
}

#section-2 > .container {
    justify-content: space-between;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#section-2 > .container > .title {
    color: white;
    font-family: var(--font-family-1);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 4px;
    position: absolute;
    text-align: center;
    width: 100vw;
}

#section-2 > .container > #left {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    margin: 25vh 0 0 4vw;
}

#section-2 > .container > #left > h1 {
    color: white;
    font-family: var(--font-family-1);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    margin: 50px 0 0 0;
}

#section-2 > .container > #left > h2 {
    color: white;
    font-family: var(--font-family-1);
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0 0 0;
}

#section-2 > .container > #left > p {
    color: white;
    font-family: var(--font-family-1);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 20px 0 0 0;
    width: 85%;
    text-align: center;
}

#section-2 > .container > #left > #buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px 0 0 0;
    width: 100%;
}

#section-2 > .container > #left > #buttons > div:not(#main-button):not(.hide) {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 5px 2px 5px 6px;
    transition: 150ms;
    width: 30px;
}

#section-2 > .container > #left > #buttons > #left {
    transform: rotate(180deg);
}

#section-2
    > .container
    > #left
    > #buttons
    > div:not(#main-button):not(.hide):hover {
    background-color: rgba(255, 255, 255, 0.298);
    /* border: 2px solid white; */
}

#section-2 > .container > #left > #buttons > div.hide {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 5px 2px 5px 6px;
    transition: 150ms;
    width: 30px;
    cursor: default;
    opacity: 0.3;
}

#section-2 > .container > #left > #buttons > #main-button {
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-1);
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 30px;
    letter-spacing: 3px;
    padding: 8px 20px;
    transition: 200ms ease-out;
}

#section-2 > .container > #left > #buttons > #main-button:hover {
    background-color: white;
    color: rgb(0, 0, 36);
}

#section-2 > .container > #right {
    border: 2px solid white;
    border-radius: 30px 0 0 30px;
    height: 76vh;
    right: 0px;
    top: 130px;
    width: 45vw;
    align-items: center;
    display: flex;
    position: relative;
}

#section-2 > .container > #right > .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 1000px;
    transition: 1s;
}

#section-2 > .container > #right > .item > img {
    border-radius: 40px;
    height: 325px;
    margin: 0 0 20px 0;
}

#section-2 > .container > #right > .item > .subtitle {
    align-items: center;
    background-color: white;
    border-radius: 32.5px;
    display: flex;
    font-family: var(--font-family-1);
    font-size: 1.4rem;
    font-weight: 500;
    height: 65px;
    justify-content: space-between;
    letter-spacing: 2px;
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    transition-delay: 200ms;
    transition: 500ms ease-out;
    width: 485px;
}

#section-2 > .container > #right > .item > .subtitle > p {
    transition: 200ms;
    width: calc(100% - 65px);
}

#section-2 > .container > #right > .item > .subtitle > img {
    position: absolute;
    right: 10px;
    width: 45px;
}

#section-2 > .container > #right > .item.saindo-fundo {
    animation: saindo-fundo 1000ms ease-out forwards;
}

@keyframes saindo-fundo {
    0% {
        left: -170px;
    }
    66% {
        left: -170px;
        transform: scale(1);
        opacity: 1;
    }
    80% {
        left: -170px;
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        left: -170px;
        transform: scale(0.9);
        opacity: 0;
    }
}

#section-2 > .container > #right > .item.saindo-fundo > .subtitle {
    animation: saindo-fundo-subtitle 1s forwards;
}

@keyframes saindo-fundo-subtitle {
    0% {
    }
    33% {
        border-radius: 32.5px;
        height: 65px;
        padding: 0;
        width: 65px;
    }
    66% {
        border-radius: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
    100% {
        border-radius: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
}

#section-2 > .container > #right > .item.saindo-fundo > .subtitle > p {
    display: none;
}

#section-2 > .container > #right > .item.saindo-fundo > .subtitle > img {
    animation: saindo-fundo-subtitle-img 1s forwards;
}

@keyframes saindo-fundo-subtitle-img {
    0% {
    }
    33% {
        right: 10px;
        width: 45px;
    }
    66% {
        right: 0;
        width: 0;
    }
    100% {
        right: 0;
        width: 0;
    }
}

#section-2 > .container > #right > .item.entrando-direita {
    animation: entrando-direita 1000ms ease-out forwards;
    opacity: 0.3;
}

@keyframes entrando-direita {
    0% {
        left: 450px;
    }
    46% {
        left: -170px;
        opacity: 1;
    }
    100% {
        left: -170px;
        opacity: 1;
    }
}

#section-2 > .container > #right > .item.entrando-direita > .subtitle {
    animation: entrando-direita-subtitle 1s forwards;
    animation-delay: 330ms;
    border-radius: 0;
    height: 0;
    padding: 0;
    width: 0;
}

@keyframes entrando-direita-subtitle {
    0% {
        border-radius: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
    33% {
        border-radius: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
    66% {
        border-radius: 32.5px;
        height: 65px;
        padding: 0;
        width: 65px;
    }
    100% {
        border-radius: 32.5px;
        height: 65px;
        padding: 0 10px 0 10px;
        width: 485px;
    }
}

#section-2 > .container > #right > .item.entrando-direita > .subtitle > p {
    animation: entrando-direita-subtitle-p 100ms forwards;
    animation-delay: 1200ms;
    opacity: 0;
}

@keyframes entrando-direita-subtitle-p {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#section-2
    > .container
    > #right
    > .item.entrando-direita
    > .subtitle
    > img {
    animation: entrando-direita-subtitle-img 1s forwards;
    animation-delay: 330ms;
    right: 0;
    width: 0;
}

@keyframes entrando-direita-subtitle-img {
    0% {
        right: 0;
        width: 0;
    }
    33% {
        right: 0;
        width: 0;
    }
    66% {
        right: 10px;
        width: 45px;
    }
    100% {
        right: 10px;
        width: 45px;
    }
}

#section-2 > .container > #right > .item.quase-entrando {
    animation: quase-entrando 600ms ease-out forwards;
}

@keyframes quase-entrando {
    0% {
        left: 1000px;
    }
    100% {
        left: 450px;
    }
}

#section-2 > .container > #right > .item.quase-entrando {
    margin: 0;
    opacity: 0.3;
}

#section-2 > .container > #right > .item.quase-entrando > .subtitle {
    display: none;
}

#section-2 > .container > #right > .item.quase-entrando-esquerda {
    left: -170px;
}

#section-2 > .container > #right > .item.quase-entrando-esquerda {
    animation: quase-entrando-esquerda 660ms ease-in forwards;
    animation-delay: 760ms;
}

@keyframes quase-entrando-esquerda {
    0% {
        left: -170px;
        opacity: 1;
    }
    100% {
        left: 450px;
        opacity: 0.3;
    }
}

#section-2
    > .container
    > #right
    > .item.quase-entrando-esquerda
    > .subtitle {
    animation: saindo-fundo-subtitle 1s ease-out forwards;
}

#section-2
    > .container
    > #right
    > .item.item.quase-entrando-esquerda
    > .subtitle
    > p {
    display: none;
}

#section-2
    > .container
    > #right
    > .item.quase-entrando-esquerda
    > .subtitle
    > img {
    animation: saindo-fundo-subtitle-img 1s forwards;
}

#section-2 > .container > #right > .item.saindo-direita {
    animation: saindo-direita 660ms ease-in forwards;
    opacity: 0.3;
}

@keyframes saindo-direita {
    0% {
        left: 450px;
    }
    33% {
        left: 450px;
    }
    100% {
        left: 1000px;
    }
}

#section-2 > .container > #right > .item.saindo-direita > .subtitle {
    display: none;
}

#section-2 > .container > #right > .item.entrando-fundo {
    animation: saindo-fundo 1300ms forwards reverse;
    animation-delay: 1000ms;
}