@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
    font-size: 9px;
}

* {
    font-family: "Kantumruy Pro", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #000027 0%, #1f001f 100%);
    height: 100vh;
    overflow-x: hidden;
}

header {
    background: linear-gradient(
        180deg,
        #450079 0%,
        rgb(23, 0, 40) 84.48%,
        rgba(69, 0, 121, 0) 100%
    );
    display: flex;
    height: 70px;
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 3;
}

header > #icon {
    margin: 20px 0 0 25px;
    height: 30px;
    width: 43px;
}

header > .right {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 90px;
    top: 15px;
}

header > .right > .item {
    align-items: center;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Karla", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 0 0 10px 0;
    position: relative;
    transition: 200ms;
    /* width: 200px; */
}

header > .right > .item > .text {
    border-radius: 10px;
    cursor: default;
    padding: 5px 10px;
}

header > .right > .item:hover > .text {
    background-color: rgba(255, 255, 255, 0.319);
}

header > .right > .item > .popup {
    align-items: center;
    background-color: #e5c1ff;
    border-radius: 10px;
    box-shadow: -4.31579px 4.31579px 4.31579px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    display: none;
    flex-direction: column;
    padding: 10px 0 10px 0;
    position: absolute;
    right: 0;
    top: 40px;
    transition: 300ms;
    width: 250px;
}

header > .right > .item:hover > .popup {
    display: flex;
}

header > .right > .item:hover > .popup {
    animation: item-popup 500ms;
    display: flex;
}

header > .right > .divisor {
    background-color: white;
    height: 30px;
    width: 1px;
}

@keyframes item-popup {
    0% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header > .right > .item > .popup > .item {
    align-items: center;
    color: #762caf;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 10px;
    height: min-content;
    padding: 10px;
    transition: 200ms;
    width: 213px;
}

header > .right > .item > .popup > .item:hover {
    background-color: #762caf27;
    border-radius: 5px;
}

header > .right > .item > .popup > .item > .icon {
    height: 20px;
}

header > .right > .item > .popup > .item > .text {
    cursor: pointer;
}

header > .right > .item > .popup > .divisor {
    background-color: #762caf63;
    height: 0.1rem;
    width: 90%;
}

header > .right > .item > .popup > .botao-ver-mais-container {
    display: flex;
    justify-content: end;
    width: 230px;
}

header > .right > .item > .popup > .botao-ver-mais-container > .botao-ver-mais {
    background-color: #7e2ab6;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin: 10px 0 0 0;
    padding: 8px 20px;
    transition: 200ms;
    width: min-content;
}

header
    > .right
    > .item
    > .popup
    > .botao-ver-mais-container
    > .botao-ver-mais:hover {
    background-color: #450079;
}

header
    > .right
    > .item
    > .popup
    > .botao-ver-mais-container
    > .botao-ver-mais
    > .icon {
    height: 20px;
}

header
    > .right
    > .item
    > .popup
    > .botao-ver-mais-container
    > .botao-ver-mais
    > .text {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    width: max-content;
}

@media (max-width: 600px) {
    header > .right > .item,
    header > .right > .divisor {
        display: none;
    }
}

@media (max-width: 600px) {
    #hamburguer {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    header > #hamburguer > .line {
        background-color: white;
        height: 0.1rem;
        width: 30px;
    }

    #menu-mobile {
        animation: menuMobile 500ms ease-out;
        background-color: #390065;
        display: flex;
        height: 100vh;
        position: absolute;
        right: 0;
        transition: 300ms ease-out;
        top: 0;
        width: 0;
        z-index: 2;
    }

    #menu-mobile.closing {
        animation: menuMobile 500ms ease-in;
    }

    #menu-mobile > .header {
        height: 70px;
        width: 100%;
    }

    #botao-fechar-menu {
        cursor: pointer;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 15px;
        width: 30px;
    }

    #hamburguer:hover,
    #botao-fechar-menu:hover {
        filter: invert(0.2);
    }

    #hamburguer.close {
        transform: translateX(5px);
    }

    #hamburguer > .line {
        transition: 200ms ease-out;
    }

    #hamburguer > #line-1.close {
        transform: rotate(45deg) translateY(13px);
    }

    #hamburguer > #line-2.close {
        width: 0;
    }

    #hamburguer > #line-3.close {
        transform: rotate(-45deg) translateY(-13px);
    }
}

#section1 {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    max-width: 100vw;
}

#section1 > .illumination-left {
    background: radial-gradient(
        51.63% 50% at 50% 50.06%,
        rgba(0, 0, 125, 0.4) 0%,
        rgba(0, 0, 125, 0.31) 57.29%,
        rgba(0, 0, 125, 0) 100%
    );
    height: 100vh;
    left: 0px;
    position: absolute;
    width: 30vw;
}

#section1 > .illumination-right {
    background: radial-gradient(
        50.06% 50% at 50% 50.06%,
        rgba(128, 0, 128, 0.6) 0%,
        rgba(81, 57, 81, 0.41) 44.79%,
        rgba(128, 0, 128, 0) 100%
    );
    display: none;
    height: 100vh;
    right: 0px;
    position: absolute;
    width: 30vw;
}

#section1 > .container-child-js {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0.3;
    position: absolute;
    width: 70vw;
    z-index: 1;
}

#section1 > .container-child-js > .item {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

#section1 > .container-child-js > .item > .line {
    background: linear-gradient(
        90deg,
        #00277000 0%,
        #002770 47%,
        #00277000 100%
    );
    width: 50%;
    transform: translateX(-100%);
}

@keyframes line {
    to {
        transform: translateX(260%);
    }
}

#section1 > .container-child-js > .item > .circle {
    animation: circle 3s infinite;
    background: linear-gradient(90deg, #002770 0%, #005bff 100%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
}

@keyframes circle {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#section1 > #content {
    display: flex;
    gap: 110px;
    justify-content: center;
    position: relative;
    z-index: 2;
}

#section1 > #content > .container {
    align-items: center;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 150ms ease-in;
    width: 300px;
}

#section1 > #content > .container:hover {
    background-color: rgba(0, 0, 138, 0.124);
}

#section1 > #content > .container#right:hover {
    background-color: rgba(84, 0, 84, 0.176);
}

#section1 > #content > .container:hover {
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.473);
}

#section1 > #content > .container > h1 {
    cursor: default;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 1;
}

#section1 > #content > .container > h1#first {
    background: linear-gradient(180deg, #9b9bff 0%, #d9d9ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 10px 0;

    font-family: "Karla", sans-serif;
    /* margin: 30px 0 0 0; */
}

#section1 > #content > .container#right > h1#first {
    background: linear-gradient(180deg, #b7b 0%, #ffc2ff 100%);
    background-clip: text;
}

#section1 > #content > .container > h1#second {
    color: rgb(0, 0, 30);
    font-family: "Karla", sans-serif;
    text-shadow: #d9d9ff -1px 0px, #d9d9ff 1px 0px, #d9d9ff 0px 1px,
        #d9d9ff 0px -1px;
    margin: -10px 0 0 0;
}

#section1 > #content > .container > p {
    color: white;
    cursor: default;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 20px 0 0 0;
}

#section1 > #content > .container > button {
    background-color: #0000c5;
    border: none;
    border-radius: 20px;
    box-shadow: 0px -15px 20px -7px inset black;
    color: white;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 20px 0 0 0;
    padding: 5px 20px;
    transition: 300ms;
}

#section1 > #content > .container#right > button {
    background-color: #800080;
}

#section1 > #content > .container > button:hover {
    box-shadow: 0px -2px 10px 0px inset black;
}

#section1 > #content > #main-image {
    background: radial-gradient(
        47.89% 47.89% at 49.95% 64.92%,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.12) 82.4%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 400px;
}

#section1 > #content > #main-image-gradient {
    background: linear-gradient(180deg, #0f002300 66%, rgb(15, 0, 35) 100%);
    bottom: 0;
    height: 400px;
    position: absolute;
    transition: 200ms;
    width: 400px;
}

#section1 > #content > #arrows-bottom {
    position: absolute;
    top: 100%;
    transition: 200ms;
}

#section1 > #content > #arrows-bottom:hover {
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.491));
}

#section2 {
    background-color: transparent;
}

#section2 > .container {
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(21, 0, 31, 0) 0%, #4f064f 100%);
    display: flex;
    height: 150vh;
    width: 100vw;
    margin: 150px 0 0 0;
}

#section2 > .container > .title {
    color: white;
    position: absolute;
}

#section2 > .container > #left-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    margin: 25vh 0 0 4vw;
}

#section2 > .container > #left-side > h1 {
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 0 0;
}

#section2 > .container > #left-side > h2 {
    color: white;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0 0 0;
}

#section2 > .container > #left-side > p {
    color: white;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 20px 0 0 0;
    width: 85%;
    text-align: center;
}

#section2 > .container > #left-side > #buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px 0 0 0;
    width: 100%;
}

#section2 > .container > #left-side > #buttons > div:not(#main-button) {
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 5px 2px 5px 6px;
    transition: 150ms;
    width: 30px;
}

#section2 > .container > #left-side > #buttons > #left {
    transform: rotate(180deg);
}

#section2 > .container > #left-side > #buttons > div:not(#main-button):hover {
    background-color: rgba(255, 255, 255, 0.298);
    /* border: 2px solid white; */
}

#section2 > .container > #left-side > #buttons > #main-button {
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    font-weight: 800;
    max-height: 30px;
    padding: 8px 20px;
    transition: 200ms ease-out;
}

#section2 > .container > #left-side > #buttons > #main-button:hover {
    background-color: white;
    color: rgb(0, 0, 36);
}

#section2 > .container > #right-side {
    border: 2px solid white;
    border-radius: 30px 0 0 30px;
    height: 76vh;
    right: 0px;
    top: 130px;
    width: 45vw;
    align-items: center;
    display: flex;
    position: relative;
}

#section2 > .container > #right-side > .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
}

#section2 > .container > #right-side > .item.saindo-fundo {
    animation: saindo-fundo 1000ms ease-out forwards;
}

@keyframes saindo-fundo {
    0% {
    }
    66% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

#section2 > .container > #right-side > .entrando-direita {
    left: -170px;
}

#section2 > .container > #right-side > .quase-entrando {
    left: 450px;
}

#section2 > .container > #right-side > .item > img {
    height: 325px;
    margin: 0 0 20px 0;
}

#section2 > .container > #right-side > .item.quase-entrando > img {
    margin: 0;
    opacity: 0.3;
}

#section2 > .container > #right-side > .item > .subtitle {
    align-items: center;
    background-color: white;
    border-radius: 32.5px;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    height: 65px;
    justify-content: space-between;
    letter-spacing: 2px;
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    transition-delay: 200ms;
    transition: 500ms ease-out;
    width: 485px;
}

#section2 > .container > #right-side > .item.quase-entrando > .subtitle {
    display: none;
}

#section2 > .container > #right-side > .item.saindo-fundo > .subtitle {
    animation: saindo-fundo-subtitle 1s forwards;
}

@keyframes saindo-fundo-subtitle {
    0% {
    }
    33% {
        border-radius: 32.5px;
        height: 65px;
        padding: 0;
        width: 65px;
    }
    66% {
        border-radius: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
    100% {
        border-radius: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
}

#section2 > .container > #right-side > .item > .subtitle > p {
    transition: 200ms;
    width: calc(100% - 65px);
}

#section2 > .container > #right-side > .item.saindo-fundo > .subtitle > p {
    display: none;
    opacity: 0%;
}

#section2 > .container > #right-side > .item > .subtitle > img {
    position: absolute;
    right: 10px;
    width: 45px;
}

#section2 > .container > #right-side > .item.saindo-fundo > .subtitle > img {
    animation: saindo-fundo-subtitle-img 1s forwards;
}

@keyframes saindo-fundo-subtitle-img {
    0% {
    }
    33% {
        right: 10px;
        width: 45px;
    }
    66% {
        right: 0;
        width: 0;
    }
    100% {
        right: 0;
        width: 0;
    }
}

#menu-mobile {
    display: none;
}
