#agenda-congresso-2024.section-page {
    align-items: center;
    background-color: #e0efed;
    display: flex;
    flex-direction: column;

    > h2 {
        color: #00584d;
    }

    >h2.show{
        animation: bottom-top 1s ease-out both;
    }

    > .item {
        align-items: center;
        display: flex;
        margin-top: 56px;

        > .text {
            display: flex;
            flex-direction: column;

            > .header {
                display: flex;
                gap: 24px;

                > .icon {
                    width: 96px;
                }

                >.icon.show{
                    animation: scale-up-7 0.8s ease-out both;
                }

                > .title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    > .top {
                        font-size: 32px;
                        height: 32px;
                        padding-left: 3px;
                    }
                    > .bottom {
                        font-size: 46px;
                        height: 46px;
                    }
                }

                >.title.show{
                    animation: left-right 1s ease-out both;
                    animation-delay: 300ms;
                }
            }
            > .content {
                display: flex;

                > .vertical-line {
                    margin-top: -20px;
                    width: 96px;
                }

                >.vertical-line.show{
                    animation: line-top-bottom 1s ease-out both;
                    animation-delay: 300ms;
                }

                > p.p1 {
                    margin-top: 24px;
                    width: 26ch;
                }

                >p.p1.show{
                    animation: left-right 1s ease-out both;
                    animation-delay: 300ms;
                }
            }
        }

        > .image {
            width: 400px;
            > img {
                width: 100%;
            }
        }
    }

    > .item.first {
        > .text {
            > .header {
                > .title {
                    color: #4b5e3c;
                }
            }
            > .content {
                > p.p1 {
                    color: #122900;
                }
            }
        }
    }

    > .item.second {
        flex-direction: row-reverse;
        > .text {
            > .header {
                flex-direction: row-reverse;
                > .title {
                    color: #974100;
                    text-align: end;
                }
            }
            > .content {
                flex-direction: row-reverse;
                > p.p1 {
                    text-align: end;
                    color: #502200;
                }
            }
        }
    }

    > .item.third {
        > .text {
            > .header {
                > .title {
                    color: #007a7a;
                }
            }
            > .content {
                > p.p1 {
                    color: #004343;
                }
            }
        }
    
        >button{
            align-items: center;
            background-color: transparent;
            border: 2px solid rgb(49, 168, 162);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            padding: 6px;
            outline: none;

            >svg{
                transition: 200ms ease-out;
            }
        }

        >button.prev-image{
            rotate: 180deg;

        }

        >button:hover{
            >svg{
                translate: 2px;
            }
        }

        >button:active{
            padding: 4px 6px;
            >svg{
                translate: 6px;
            }
        }

        > .image {
            align-items: center;
            display: flex;
            overflow-x: scroll;
            position: relative;
            scroll-snap-type: x mandatory;

            >button.next-image{
                right: 0;
            }

            > img {
                scroll-snap-align: start;
                scroll-snap-stop: always;
                scroll-margin-left: 0px;
            }
        }

        > .image::-webkit-scrollbar {
            height: 8px;
            border-radius: 4px; /* width of the entire scrollbar */
        }

        > .image::-webkit-scrollbar-thumb {
            /* color of the scroll thumb */
            background-color: #1a9f9f;
            border-radius: 20px; /* roundness of the scroll thumb */
            border-bottom: 0;
        }

        > .image::-webkit-scrollbar-track {
            /* color of the scroll thumb */
            background-color: #1a9f9f2b;
            border-radius: 20px; /* roundness of the scroll thumb */
            border-bottom: 0;
        }
    }

    @media (max-width: 1100px) {
        > .item {
            > .text {
                > .header {
                    > .title {
                        > h2,
                        > .top {
                            font-size: 27px;
                        }

                        > .bottom {
                            font-size: 36px;
                        }
                    }
                }
            }
        }

        > .item:not(.second) {
            > .text {
                > .header {
                    > .title {
                        > .top {
                            height: 27px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        > .item {
            > .image {
                width: 300px;
            }
        }
    }

    @media (max-width: 700px) {
        width: 100vw;
        > .item {
            > .text {
                > .header {
                    gap: 8px;

                    > .icon {
                        width: 64px;
                    }

                    > .title {
                        > .bottom {
                            font-size: 27px;
                            height: 27px;
                        }
                    }
                }

                > .content {
                    > .vertical-line {
                        width: 64px;
                    }

                    > p.p1 {
                        font-size: 16px;
                        width: 20ch;
                    }
                }
            }

            > .image {
                width: 270px;
                > img {
                    width: 270px;
                }
            }
        }
    }

    @media (max-width: 600px) {
        > .item,
        > .item.second {
            flex-direction: column;
            margin-bottom: 56px;

            > .text {
                > .content {
                    > .vertical-line {
                        width: 64px;
                    }

                    > p.p1 {
                        width: calc(80vw - 64px);
                    }
                }
            }

            /* > .image {
                width: 100vw;
            } */
        }
    }
}
