#hero.section-page {
    display: flex;
    padding-top: 16px;

    > .left {
        z-index: 2;
        > .text {
            > .title {
                > h1:not(.third) {
                    height: 56px;
                }

                > h1 {
                    animation: bottom-top 1s both;
                    font-weight: 600;
                }

                > h1.first {
                    color: #58b8b6;
                }

                > h1.second {
                    animation-delay: 300ms;
                    color: #7d8c77;
                }

                > h1.third {
                    animation-delay: 600ms;
                    color: #e0a273;
                }
            }

            > p.p1 {
                animation: scale-up 1s ease-out both;
                animation-delay: 900ms;
                color: #784c4b;
            }
        }

        > img.agendas-3d {
            animation: opacity 2s both;
            animation-delay: 600ms;
            margin-top: 20px;
            width: 300px;
        }
    }

    > .center {
        z-index: 1;
        > img.hero-image {
            animation: scale-up-7 1s cubic-bezier(0.68, 0.18, 0.73, 1.01) both;
            /* scale: 0.9; */
            width: 530px;
        }
    }

    > .right {
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 0;

        > img.notion-template {
            animation: left-right 1s ease-out both;
            width: 440px;
        }

        > .cta-space {
            align-items: center;
            display: flex;
            flex-direction: column;
            > p.p1 {
                color: #002f00;
                margin-top: 32px;
                text-align: center;
                width: 22ch;
            }
        }
    }

    @media (max-width: 1300px) {
        > .left {
            min-width: 260px;

            > .text {
                > .title {
                    > h1 {
                        font-size: 48px;
                    }
                }
            }

            > img.agendas-3d {
                width: 100%;
            }
        }

        > .center {
            > img.hero-image {
                width: 480px;
            }
        }

        > .right {
            translate: -96px;
            > img.notion-template {
                width: 400px;
            }
        }
    }

    @media (max-width: 1100px) {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: min-content min-content;

        > .left {
            > img.agendas-3d {
                width: 300px;
            }
        }

        > .right {
            flex-direction: row;
            max-width: 300px;
            translate: 0;

            > .cta-space {
                align-items: center;
                flex-direction: column;
                > p.p1 {
                    min-width: 22ch;
                }

                > button {
                    min-width: max-content;
                }
            }
        }
    }

    @media (max-width: 600px) {
        align-items: center;
        display: flex;
        flex-direction: column;

        > .left {
            align-items: center;
            /* background: url(./../assets/hero-image-opacity-20.png); */
            background-size: 110%;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 100px;
            width: 100vw;
            overflow: visible;
            text-align: center;

            > .text {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                > .title {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        > .center {
            display: none;
        }

        > .right {
            flex-direction: column;
            margin-top: 40px;
            > img.notion-template {
                width: 80vw;
            }
        }
    }
}
