#kit-congresso-2024.section-page {
    align-items: center;
    color: #7d8c77;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    text-align: center;

    >h2.show{
        animation: bottom-top 1s ease-out both;
    }

    > img {
        margin-top: 80px;
        width: 90%;
        max-width: 800px;
    }

    >img.show{
        animation: opacity 1s ease-out;
    }

    @media (max-width: 700px) {
        padding-top: 100px;
        
        > img {
            margin-top: 24px;
            width: 100%;
        }
    }
}
