#depoimento.section-page {
    display: flex;
    justify-content: center;
    position: relative;

    > .circle {
        transition: 1s ease-out;
        background-color: transparent;
        border: 2px solid var(--primary-color-dark);
        border-radius: 50%;
        height: 200px;
        position: absolute;
        width: 200px;
        z-index: 0;
    }

    > .circle.one {
        border-color: rgb(11, 177, 11);
        height: 150px;
        margin-top: -110px;
        margin-left: -200px;
        transition-delay: 200ms;
        width: 150px;
    }

    > .circle.one.show {
        animation: bottom-top 1s ease-out backwards;
    }

    > .circle.two {
        border-color: blue;
        height: 180px;
        transition-delay: 400ms;
        margin-left: 500px;
        margin-top: 80px;
        width: 180px;
    }

    > .circle.two.show {
        animation: bottom-top 1s ease-out backwards;
        animation-delay: 400ms;
    }

    > .circle.three {
        border-color: var(--primary-color-dark);
        height: 200px;
        margin-left: -460px;
        margin-top: 100px;
        width: 200px;
    }

    >.circle.three.show{
        animation: bottom-top 1s ease-out backwards;
        animation-delay: 400ms;
    }

    > .content {
        align-items: center;
        background-color: rgba(199, 255, 242, 0.5);
        backdrop-filter: blur(4px);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 32px;
        text-align: center;
        width: 82ch;
        z-index: 1;

        > .client-name {
            font-weight: 500;
        }

        > img {
            width: 48px;
        }
    }

    > .content.show {
        animation: bottom-top 1s ease-out backwards;
        animation-delay: 400ms;
    }

    @media (max-width: 750px) {
        width: 100%;
    }

    @media (max-width: 500px) {
        overflow-x: hidden;

        >.content{
            box-sizing: border-box;
            max-width: 80vw;
        }

        >.circle.one{
            margin-top: -100px;
        }
        
        > .circle.two {
            margin-left: 300px;
            margin-top: 50px;
        }

        > .circle.three {
            margin-left: -300px;
            margin-top: 150px;
        }
    }
}
