#sobre-nos.section-page {
    align-items: center;
    display: flex;
    gap: 15%;
    justify-content: center;

    > .left {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 35%;

        > h2 {
            color: var(--primary-color-bg-dark);
            font-weight: 300;
            line-height: 44px;
            text-align: center;
            transition: 1000ms;
            > strong {
                font-weight: 500;
            }

            > .first {
                color: #176469;
            }

            > .second {
                color: #008372;
            }
        }

        > h2.hidden {
            transform: translateX(-50%);
        }

        > h2.show {
            transform: translateX(0);
        }

        > p.description {
            margin-top: 8px;
            text-align: center;
            transition: 1000ms;
        }

        > p.description.hidden {
            transform: translateX(-50%);
        }

        > p.description.show {
            transform: translateX(0%);
            transition-delay: 300ms;
        }

        > button {
            margin-top: 16px;
        }

        > button.show {
            animation: bottom-top 1s;
        }

        > .avaliacoes-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 16px;
            width: fit-content;

            > p.show {
                animation: left-right 1s ease-out backwards;
                animation-delay: 200ms;
            }

            > .avaliacoes {
                align-items: center;
                cursor: pointer;
                display: flex;
                gap: 8px;

                > .estrelas {
                    > img.show {
                        animation: bottom-top 1s ease-out backwards;
                    }

                    > .star-1.show {
                        animation-delay: 200ms;
                    }

                    > .star-2.show {
                        animation-delay: 400ms;
                    }

                    > .star-3.show {
                        animation-delay: 600ms;
                    }

                    > .star-4.show {
                        animation-delay: 800ms;
                    }

                    > .star-5.show {
                        animation-delay: 1000ms;
                    }
                }

                > .p3 {
                    color: var(--primary-color-dark);
                    font-weight: 500;
                }

                > .p3.show {
                    animation: right-left 1s ease-out backwards;
                    animation-delay: 600ms;
                }
            }
        }

        > img {
            width: 215px;
        }
    }

    > .right.show.paused {
        animation-play-state: paused;
        > .play-pause-container {
            .play-rotation-icon {
                display: flex;
            }
            .pause-rotation-icon {
                display: none;
            }
        }
        > div {
            animation-play-state: paused;
        }
    }

    > .right {
        animation: rotate-360 30s infinite linear;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        min-width: 650px;
        min-height: 650px;

        > .play-pause-container {
            align-items: center;
            animation: rotate-360-reverse 30s infinite linear;
            display: flex;
            height: 100px;
            justify-content: center;
            width: 100px;
            position: relative;
            > .background {
                height: 100%;
                width: 100%;
            }
            > .play-rotation-icon {
                display: none;
                position: absolute;
                width: 40px;
            }
            > .pause-rotation-icon {
                display: flex;
                position: absolute;
                width: 40px;
            }
        }

        > .item {
            align-items: center;
            animation: rotate-360-reverse 30s infinite linear;
            background-color: #d1f0e9;
            border: 3px solid #00575d;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 248px;
            justify-content: center;
            padding: 24px;
            text-align: center;
            transition: 150ms ease-out;
            position: absolute;
            width: 248px;

            > .icon {
                align-items: center;
                background-color: white;
                border-radius: 5px;
                display: flex;
                height: 32px;
                justify-content: center;
                width: 32px;

                > img {
                    max-height: 24px;
                    max-width: 24px;
                }
            }

            > .p1 {
                color: #176469;
                font-weight: 400;
                margin-top: 12px;
            }

            > .p3 {
                color: var(--primary-color-bg-dark);
                margin-top: 8px;
            }
        }

        > .item:hover {
            box-shadow: none;
            box-shadow: 0 5px 20px 0 rgba(0, 115, 87, 0.1);
        }

        > .item-1 {
            top: 0px;
        }

        > .item-2 {
            right: 0px;
        }
        > .item-3 {
            bottom: 0px;
        }
        > .item-4 {
            left: 0px;
        }
    }

    > .right.show {
        animation: scale-up 1s ease-out backwards,
            rotate-360 30s infinite linear;
        overflow: hidden;
    }

    @media (max-width: 1300px) {
        flex-direction: column;
        gap: 24px;

        >.left{
            width: 60vw;
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 32px;

        > .left {
            width: 50%;
        }
    }

    @media (max-width: 750px) {
        align-items: center;
        flex-direction: column;

        > .left {
            align-items: center;
            text-align: center;
            width: 80%;

            > .header {
                align-items: center;
                width: 100%;
            }

            > .description {
                align-items: center;
            }
        }
    }

    @media (max-width: 750px) {
        margin-top: 200px;
        > .right.show, .right {
            animation: none;
            gap: 16px;
            min-width: 100vw;
            min-height: 100vw;

            .play-pause-container {
                display: none;
            }

            > .item {
                animation: none;
                border-radius: 20px;
                width: 70vw;
                position: inherit;

                /* > .p3 {
                    display: none;
                } */
            }

            > .item-1 {
                top: none;
            }

            > .item-2 {
                right: none;
            }
            > .item-3 {
                bottom: none;
            }
            > .item-4 {
                left: none;
            }
        }

        >.right.show{
            animation: left-right 1s backwards ease-out;
        }
    }
}

@keyframes rotate-360 {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-360-reverse {
    to {
        transform: rotate(-360deg);
    }
}
