@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --primary-color-light-1: #c7fff2;
    --primary-color-light-2: #80f3d7;
    --primary-color-master: #00e6af;
    --primary-color-dark: #007357;
    --primary-color-bg-light: #e5fcf7;
    --primary-color-bg-dark: #00221a;

    --secundary-color-light: #b9bdff;
    --secundary-color-master: #1d868c;
    --secundary-color-dark: #393d7f;
    --secundary-color-bg-light: #eaebff;
    --secundary-color-bg-dark: #22254d;

    --font-family-1: "Nunito", sans-serif;
}

* {
    font-family: var(--font-family-1);
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    align-items: center;
    background-color: #f8f1df;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    transition: none;
}

/* Hidden and Show Elements */
.hidden {
    display: hidden;
    opacity: 0;
}

.show {
    opacity: 1;
}

/* Titles */

h1 {
    font-size: 56px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 900px) {
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
}

p.p1 {
    font-size: 20px;
    font-weight: 300;
}

p.p2 {
    font-size: 18px;
    font-weight: 300;
}

p.p3 {
    font-size: 16px;
    font-weight: 300;
}

p.p4 {
    font-size: 14px;
    font-weight: 300;
}

button {
    background-color: transparent;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    transition: 150ms;
    width: fit-content;
}

button:hover {
    color: white;
}

button.outlined {
    background-color: transparent;
    border: 2px solid;
}

button.filled.primary {
    background-color: var(--primary-color-dark);
    border: none;
    color: white;
}

button.filled.primary:hover {
    background-color: var(--primary-color-bg-dark);
}

button.filled.secundary {
    background-color: #ffe6a7;
    border-color: #6a4d01;
    color: #6a4d01;
}

button.filled.secundary:hover {
    color: white;
    background-color: #6a4d01;
}

button.outlined.primary {
    border-color: var(--primary-color-dark);
    color: var(--primary-color-dark);
}

button.outlined.primary:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

button.outlined.secundary {
    border-color: var(--secundary-color-master);
    color: var(--secundary-color-master);
}

button.outlined.secundary:hover {
    background-color: var(--secundary-color-master);
    color: white;
}

/* Configurando Seções da Página */

.section-page {
    padding: 100px calc((100vw - 1220px) / 2);
    width: 1220px;

    @media (max-width: 1300px) {
        padding-left: calc((100vw - 1000px) / 2);
        padding-right: calc((100vw - 1000px) / 2);
        width: 1000px;
    }

    @media (max-width: 1100px) {
        padding-left: calc((100vw - 800px) / 2);
        padding-right: calc((100vw - 800px) / 2);
        width: 800px;
    }

    @media (max-width: 900px) {
        padding-left: calc((100vw - 700px) / 2);
        padding-right: calc((100vw - 700px) / 2);
        width: 700px;
    }

    @media (max-width: 700px) {
        width: 100%;
    }
}

/* Configurando o Header */

header {
    animation: header 1.5s cubic-bezier(0.24, 0.9, 0.6, 0.97) both;
    animation-delay: 300ms;
    align-items: center;
    background-color: #1d868c;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 32px 0px 16px;
    padding: 0px calc((100vw - 1220px) / 2 + 32px) 0px
        calc((100vw - 1220px) / 2);
    position: fixed;
    width: 100vw;
    z-index: 8;

    > .logo {
        align-items: center;
        animation: bottom-top 300ms ease-out both;
        animation-delay: 1.7s;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 48px;
        width: 48px;

        > img {
            height: 32px;
            width: 32px;
        }
    }

    > .menu {
        display: flex;
        gap: 16px;

        > div {
            animation: bottom-top 1s ease-out both;
            border-bottom: 2px solid transparent;
            color: #f8f1df;
            cursor: default;
            font-size: 16px;
            letter-spacing: 1px;
            padding: 4px 8px;
        }

        > .focus {
            border-color: #ffe6a7;
            color: #ffe6a7;
            font-weight: 500;
        }

        > div:not(.focus):hover {
            border-color: #f8f1df;
        }

        > .item-1 {
            animation-delay: 1.7s;
        }

        > .item-2 {
            animation-delay: 1.9s;
        }

        > .item-3 {
            animation-delay: 2.1s;
        }

        > .item-4 {
            animation-delay: 2.3s;
        }
    }

    > .hamburguer-menu {
        align-items: center;
        cursor: pointer;
        display: none;
        flex-direction: column;
        gap: 3px;
        height: 48px;
        justify-content: center;
        transform: translateX(10px);
        transition: 150ms;
        width: 48px;

        > div {
            background-color: #f8f1df;
            height: 1.5px;
            width: 20px;
        }
    }

    > .hamburguer-menu:hover {
        opacity: 0.6;
    }

    @media (max-width: 1300px) {
        padding: 0px calc((100vw - 1000px) / 2 + 32px) 0px
            calc((100vw - 1000px) / 2);
    }

    @media (max-width: 1100px) {
        padding: 0px calc((100vw - 800px) / 2 + 32px) 0px
            calc((100vw - 800px) / 2);
    }

    @media (max-width: 900px) {
        padding: 0px calc((100vw - 700px) / 2 + 32px) 0px
            calc((100vw - 700px) / 2);
    }

    @media (max-width: 700px) {
        border-radius: 0;
        padding: 0px 32px 0px 16px;
        width: 100vw;

        > .menu {
            display: none;
        }

        > .hamburguer-menu {
            display: flex;
        }
    }
}

/* Mobile Menu */
#mobile-menu {
    display: none;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    z-index: 9;

    > .background {
        background-color: #0008;
        height: 100vh;
        /* position: absolute; */
        width: 100vw;
        /* z-index: 1; */
    }

    > .container {
        background-color: var(--primary-color-bg-dark);
        height: 100vh;
        position: absolute;
        top: 0;
        width: 240px;
        right: 0;

        > .top {
            align-items: center;
            display: flex;
            height: 48px;
            padding: 16px;
            width: 100%;

            > .close-button {
                align-items: center;
                display: flex;
                height: 48px;
                justify-content: center;
                width: 48px;
            }
        }

        > .content {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: 2rem;

            > .item {
                display: flex;
                color: white;
                gap: 8px;
                margin: 8px 0 0 0;
            }

            > .item .text {
                padding: 8px;
            }

            > .item .toggle-icon {
                transform: translateY(4px);
            }

            > .item.focus .text {
                border-bottom: 3px solid white;
                font-weight: bold;
            }
        }
    }
}
